@model User
@{
    ViewBag.Title = "ProChat";
}


<div class="row fullContainer">

    <div class="col-lg-2 leftRail">
        <h2>Chat controls</h2>
        <br/><br/>
        <div id="roomUsers">
            <h3>Users in room</h3><hr>
        </div>


    </div>

    <div class="col-lg-8 chatContainer">
        <div id="discussion"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" id="chatInput">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="sendmessage">Send</button>
                    </span>
                </div>

                </div>

            <input type="hidden" id="displayname" />
        </div>
    </div>

    <div class="col-lg-2 rightRail">
        <div class="row">
            <button id="userContent">Track content</button>
        </div>
        <div class="row">
            <button id="voiceCallRoom" class="btn btn-primary">Call Room</button>
            @*<button id="videoCallRoom" class="btn btn-primary">Video Call Room</button>*@
        </div>
    </div>


</div>

@Html.Partial("ChatHandlerScripts", Model);