@model IEnumerable<Prochat.User>

@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>

<div>
    <web:VideoStreaming runat="server" ID="video" ClientIDMode="Static" Width="300px" Height="300px" Interval="100" Source="True" ScalingMode="TargetSize" StreamingMode="Target" TargetClientID="received" OnStreamed="onStreamed" Style="border: solid 1px black" />
    <canvas id="received" width="300" height="300" style="border: solid 1px black"></canvas>
    <br>
    <input type="button" value="Start Streaming" onclick="startStreaming()" />
    <input type="button" value="Stop Streaming" onclick="stopStreaming()" />
</div>

<script>
    function onStreamed(imageUrl, imageWidth, imageHeight) {
        //for StreamingMode="Event", draw an image on an existing canvas
        //the onload event is for cross-browser compatibility
        //in this example, we are using the canvas width and height
        var canvas = document.getElementById('received');
        var ctx = canvas.getContext('2d');
        var img = new Image();
        img.src = imageUrl;
        img.onload = function () {
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        }
    }

    function startStreaming() {
        document.getElementById('video').startStream();
    }

    function stopStreaming() {
        document.getElementById('video').stopStream();
    }

</script>